.buttonn {
  background-color: #e4572e;
  border: "solid 2px #dfdfdf";
  color: white;
  width: 50%;
  height: 50%;
  border-radius: 10px;
  padding: 0.5em;
  margin-left: 7em;
  box-sizing: border-box;
}
button.buttonn:hover {
  background-color: #b14121;
}

.modal {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 350px;
  width: 24rem;
  padding: 12px;
  border-radius: 2px;
  background: #fefefe;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translate(-50%, -50%);
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: #fefefe;
}

.alert-icon {
  height: 1.5em;
  width: 1.5em;
  margin-right: 1em;
}

.wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1em 0em 1em 0em;
  font-size: 18px;
}

.claim-text {
  font-weight: bold;
}

.debunked-claim-title {
  font-size: 24px;
  display: flex;
  justify-content: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.flex {
  display: flex;
}
.nav {
  font-size: 18px;
  color: darkgray;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  align-items: baseline;
}

.debunk-text {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

button.prev-option:hover {
  color: black;
}

button.next-option:hover {
  color: black;
}
