.buttonn {
  background-color: #e4572e;
  border: "solid 2px #dfdfdf";
  color: white;
  width: 50%;
  height: 50%;
  border-radius: 10px;
  padding: 0.5em;
  margin-left: 3em;
  box-sizing: border-box;
  cursor: pointer;
}

.button-logo {
  height: 25px;
  width: 25px;
  float: left;
}

.mutedOrange {
  background-color: #d1826b;
}

.modal {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 300px;
  width: 24rem;
  padding: 12px;
  border-radius: 2px;
  background: #fefefe;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translate(-50%, -50%);
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: #fefefe;
}
